version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
    open-pull-requests-limit: 5
    groups:
      production-dependencies:
        patterns:
          - "*"
        exclude-patterns:
          - "@types/*"
          - "eslint*"
          - "@typescript-eslint/*"
          - "vitest"
          - "jsdom"
          - "@vitejs/*"
          - "autoprefixer"
          - "postcss"
          - "tailwindcss"
          - "typescript"
      development-dependencies:
        patterns:
          - "@types/*"
          - "eslint*"
          - "@typescript-eslint/*"
          - "vitest"
          - "jsdom"
          - "@vitejs/*"
          - "autoprefixer"
          - "postcss"
          - "tailwindcss"
          - "typescript"
